.admin-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .admin-panel__header {
    background-color: #74dca6;
    color: black;
    padding-top: 2%;
    font-style: italic;

  }
  
  .admin-panel__sidebar {
    /*background-color: #f1f1f1;*/
    /*background-image: url("../img/sidebar.png");*/
    width: 20%;
    height: 100%;
    background-color: #000000c4;
    text-align: center;
    padding-top: 2%;
  }
  
  .admin-panel__main {
    flex-grow: 1;
    padding: 16px;
  }

  .row{
    height: 100% !important;
  }
a:link {
    text-decoration: none;
}